:root{
  --mainBlue: #2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color:var(--mainBlue);
}

.text-title {
  font-family: 'Poppins', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: var(--mainBlue);
}

.text-bright{
  color: var(--lightBlue);
}

/* .grid-container {
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a:hover {
  color: #ff8000;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  background: #203040;
  color:#fff;
  padding: 10px;
}
header a{
  color: #fff;
  text-decoration: none;
}

main{
  grid-area: main;
}

footer {
  grid-area: footer;
  background: #203040;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main{
  flex: 3 60rem;
}

.sidebar{
  flex: 1 20rem;
} */